<!DOCTYPE html>
<html lang="en">
<head>
	<title>Изменение пароля</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/quiz/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/quiz/css/login-util.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/quiz/css/login.css">
<!--===============================================================================================-->
</head>
<body>
  {% if validlink %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
          <form method='post' class="login100-form validate-form flex-sb flex-w">
              {% csrf_token %}
              <span class="login100-form-title p-b-51">
                Изменение пароля
              </span>
  
              <div class="wrap-input100 validate-input m-b-16" data-validate = "Введите новый пароль">
                <input class="input100" id="{{ form.new_password1.id }}" type="password" name="new_password1" placeholder="Введите новый пароль">
                <span class="focus-input100"></span>
              </div>
              
              <div class="wrap-input100 validate-input m-b-16" data-validate = "Повторите новый пароль">
                  <input class="input100" id="{{ form.new_password2.id }}" type="password" name="new_password2" placeholder="Повторно введите новый пароль">
                  <span class="focus-input100"></span>
              </div>

              <div class="container-login100-form-btn m-t-17">
                  <button class="login100-form-btn">
                      Изменить пароль
                  </button>
              </div>
          </form>
      </div>
    </div>
  </div>
  {% else %}
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-50 p-b-90">
        <span class="login100-form-title p-b-51">
            Ссылка для сброса пароля недействительна, 
            возможно, потому что она уже использовалась. 
            Пожалуйста, запросите новую ссылку для сброса.
        </span>
      </div>
    </div>
  </div>      
  {% endif %}
</body>
</html>