<!DOCTYPE html>
<html lang="en">
<head>
	<title>Забыли пароль?</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/quiz/css/bootstrap.min.css">
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="/static/quiz/css/login-util.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/quiz/css/login.css">
<!--===============================================================================================-->
</head>
<body>
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 p-t-50 p-b-90">
        <form method='post' class="login100-form validate-form flex-sb flex-w">
          {% csrf_token %}
          <span class="login100-form-title p-b-51">
            Забыли пароль?
          </span>
      
          <div class="wrap-input100 validate-input m-b-16" data-validate = "Введите email">
            <input class="input100" id="{{ form.email.id }}" type="email" name="email" placeholder="Введите свой e-mail">
            <span class="focus-input100"></span>
          </div>

          <div class="container-login100-form-btn m-t-17">
            <button class="login100-form-btn">
              Отправить
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>