<!DOCTYPE html>
<html lang="en">
<head>
	<title>Вход</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/quiz/css/bootstrap.min.css">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/static/quiz/css/login-util.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/static/quiz/css/login.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
                <p>
                    Ваш пароль был успешно изменен! 
                    Вы можете войти в систему используя новый пароль 
                    <a href="{% url 'login' %}" class="login100-form-btn">Войти</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>