{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Тесты ТБ" %}{% endblock %}

{% block content %}
<h2>{% trans "Список тестов" %}</h2>
<hr>
    {% if quiz_list %}
		<table class="table table-hover table-bordered">
			<thead class='thead-dark'>
				<tr>
					<th>{% trans "Название" %}</th>
					<th>{% trans "Категория" %}</th>
					<th>{% trans "Сохранение результата" %}</th>
			  		<th>{% trans "Одна попытка" %}</th>
			  		<th>{% trans "Интервал попыток" %}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% if not request.user.is_superuser %}
					{% for quiz in quiz_list %}
						{% ifequal quiz.category.category "Техника Безопасности" %}
							{% if quiz.filial == user.userprofile.filial or quiz.filial == Все %}
								<tr>
									<td>{{ quiz.title }}</td>
									<td>{{ quiz.category }}</td>
									{% if quiz.exam_paper == True %}
										<td>{% trans "Да" %}</td>
									{% else %}
										<td>{% trans "Нет" %}</td>
									{% endif %}
									{% if quiz.single_attempt == True %}
										<td>{% trans "Да" %}</td>
									{% else %}
										<td>{% trans "Нет" %}</td>
									{% endif %}
									<td>{{ quiz.attempt_choise }}</td>
									<td>
										<a href="{% url 'quiz_start_page' slug=quiz.url %}">
										{% trans "Выбрать" %}
										</a>
									</td>
								</tr>
							{% endif %}
						{% endifequal %}
					{% endfor %}
				{% else %}
					{% for quiz in quiz_list %}
						{% ifequal quiz.category.category "Техника Безопасности" %}
							<tr>
								<td>{{ quiz.title }}</td>
								<td>{{ quiz.category }}</td>
								{% if quiz.exam_paper == True %}
									<td>{% trans "Да" %}</td>
								{% else %}
									<td>{% trans "Нет" %}</td>
								{% endif %}
								{% if quiz.single_attempt == True %}
									<td>{% trans "Да" %}</td>
								{% else %}
									<td>{% trans "Нет" %}</td>
								{% endif %}
								<td>{{ quiz.attempt_choise }}</td>
								<td>
									<a href="{% url 'quiz_start_page' slug=quiz.url %}">
									{% trans "Выбрать" %}
									</a>
								</td>
							</tr>
						{% endifequal %}
					{% endfor %}
				{% endif %}
			</tbody>
		</table>
		{% if is_paginated %}
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-end">
					{% if page_obj.has_previous %}
						<li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
					{% else %}
						<li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
					{% endif %}
					{% for i in paginator.page_range %}
						{% if page_obj.number == i %}
							<li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
						{% else %}
							<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
						{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
						<li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
					{% else %}
						<li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
					{% endif %}
				</ul>
			</nav>
		{% endif %}
	{% else %}
        <p>{% trans "На данный момент нет доступных тестов" %}.</p>
    {% endif %}
{% endblock %}
