{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
  {% trans "Тест:" %} {{ quiz.title }}
{% endblock %}

{% block content %}
<div style="padding: 3%">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-4">Название теста: <strong>{{ quiz.title }}</strong></h1>

        <!-- Quiz category -->
        <p class="lead">
          {% trans "Категория" %}:
          <strong>{{ quiz.category }}</strong>
        </p>
        <!-- Quiz category -->
  
        <hr>
        <!-- Date/Time -->
        <p>Posted on January 1, 2018 at 12:00 PM</p>
        <!-- Date/Time -->
        <hr>
  
        <!-- Quiz Image -->
        <img class="img-fluid rounded" src="/static/quiz/Profit.jpg" alt="">
        <!-- Quiz Image -->

      </div>
  
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">
  
        <!-- Categories Widget -->
        <div class="card my-4">

          <!-- Quiz specifications -->
          <h2><strong>Правила сдачи теста</strong></h2>
          <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-item-action list-group-item-success">{% trans "Количество вопросов:" %} {{ quiz.max_questions }}</li>
              {% if quiz.single_attempt %}
                <li class="list-group-item list-group-item-action list-group-item-danger">{% trans "У вас только одна попытка на сдачу этого теста!!!" %}.</li>
              {% endif %}
              {% if quiz.attempt_choise == 'D' %}
                <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Интервал между сдачей теста: 1 день" %}</li>
              {% endif %}
              {% if quiz.attempt_choise == 'M' %}
                <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Интервал между сдачей теста: 1 месяц" %}</li>
              {% endif %}
              {% if quiz.attempt_choise == 'Y' %}
                <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Интервал между сдачей теста: 1 год" %}</li>
              {% endif %}
              {% if quiz.attempt_choise == 'U' %}
                <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Интервал между сдачей теста: Неограничено" %}</li>
              {% endif %}
              {% if quiz.random_order == True %}
                <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Порядок выпадения вопросов: Случайно" %}</li>
              {% else %}
                <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Порядок выпадения вопросов: По порядку" %}</li>
              {% endif %}
              {% if quiz.answers_at_end == True %}
                <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Правильный вариант после ответа: Да" %}</li>
              {% else %}
                <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Правильный вариант после ответа: Нет" %}</li>
              {% endif %}
              {% if quiz.exam_paper == True %}
                <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Сохранение результата теста: Да" %}</li>
              {% else %}
                <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Сохранение результата теста: Нет" %}</li>
              {% endif %}
              <li class="list-group-item list-group-item-action list-group-item-primary">{% trans "Порог прохождения теста:" %} {{ quiz.pass_mark }} {% trans "%" %}</li>
          </ul>
          <!-- Quiz specifications -->
  
          <!-- Quiz description -->
          <div class="card my-4">
            <h5 class="card-header"><strong>Описание теста</strong></h5>
            <div class="card-body">
              {{ quiz.description }}
            </div>
          </div>
          <!-- Quiz description -->

          <!-- Quiz buttons -->
          <h5 class="card-header"><strong>Начать тест</strong></h5>
            <div class="card-body" style='align-self: center'>
                <a href="{% url 'quiz_question' quiz_name=quiz.url %}" class='btn btn-success' style="width: 80px">
                    {% trans "Старт" %}
                </a>
                <a href="/quiz/" class='btn btn-danger'>
                    {% trans "Отмена" %}
                </a>
            </div>
          <!-- Quiz buttons -->

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
