{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {{ quiz.title }} {% endblock %}
{% block description %} {% trans "Результаты теста:" %} {{ quiz.title }} {% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/quiz/css/login-util.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/static/quiz/css/login.css">
<!--===============================================================================================-->
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form method='post' class="login100-form validate-form flex-sb flex-w">
                    {% csrf_token %}
					<span class="login100-form-title p-b-51">
						Изменение пароля
                    </span>
                    	
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Введите старый пароль">
                        <input class="input100" id="{{ form.old_password.id }}" type="password" name="old_password" placeholder="Введите старый пароль">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Введите новый пароль">
                        <input class="input100" id="{{ form.new_password1.id }}" type="password" name="new_password1" placeholder="Введите новый пароль">
						<span class="focus-input100"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input m-b-16" data-validate = "Повторите новый пароль">
                        <input class="input100" id="{{ form.new_password2.id }}" type="password" name="new_password2" placeholder="Повторно введите новый пароль">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn">
                            Изменить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}