{% load i18n %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% trans "KTRQ" %} | {% trans "Домашняя" %}</title>

	    <!-- css -->
		<link rel="stylesheet" href="/static/quiz/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/quiz/css/custom.css">
		<!-- css -->

	</head>

	<body>
		<div id="wrapper">
			<div id="overlay-1">
				
				<!-- header section -->
				<section id= "navigation">
					<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	  					<div class="container-fluid">
	    					<div class="navbar-header">
	      						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					        		<span class="ion-navicon"></span>
					      		</button>
					      		<a class="navbar-brand" href="/quiz">KTRQ</a>
					    	</div>
	    					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      					<ul class="nav navbar-nav navbar-right">
		      						<li><a href="/quiz/">Домашняя</a></li>
		        					<li><a href="/quiz/profile/">Профиль</a></li>
		        					<li><a href="/quiz/rating_list/">Рейтинги</a></li>
                      				<li><a href="/quiz/suggest/">Предложения</a></li>
									{% if request.user.is_superuser %}
										<li><a href="/quiz/marking/">Результаты</a></li>
									{% endif %}
		        					<li><a href='/accounts/logout' class="btn btn-primary">Выйти</a></li>
							    </ul>
	    					</div>
	  					</div>
					</nav>
				</section>
				<!-- header section -->
				
				<!-- central section -->
				<section id="starting">
					<div class="text-center starting-text">
						<h1 class="rene">KTRQ</h1>
						<h2>Добро пожаловать {{ user.first_name }}! 
							Вы вошли в систему тестирования. 
              				Здесь вы можете протестироваться и проверить свои знания. 
            			</h2>
						<a style='font-size: 25px;' class='btn btn-logout' href="/quiz/list">
							Перейти к тестам
						</a>
					</div>
				</section>
				<!-- central section -->

				<div id="bottom" class="bottom text-center">
			        <a href="#about"><i class="ion-ios7-arrow-down"></i></a>
				</div>
				
			</div>
		</div>		
			
		<!-- footer -->
		<section id= "footer" class= "main-footer">
			<div class= "row">
				<div class= "copyright text-center">
					<p> © 2019 KTRQ. Разработал Окасов Марат</p>
					<p>ДНСТ АО "Казтелерадио"</p>
				</div>
			</div>
		</section>
		<!-- footer -->

	</body>
</html>
