{% extends "base.html" %} {% load i18n %} {% load staticfiles %} {% load quiz_tags %} {% block title %} {{ quiz.title}} {% endblock %} {% block description %} {% trans "Результаты теста:" %} {{ quiz.title }} {% endblock %} {% block content %}
<hr>
<div class="container">
    <div class="row text-center" id="heading">
        <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
            <h3>Профиль</h3>
            <p>Здесь вы можете просматривать, редактировать свой личный профиль и следить за вашими результатами.</p>
            <hr class="full">
            <br/>
        </div>
    </div>
    <!-- row -->
    <div class="container">
        <div class="row m-y-2">
            <div class="col-lg-8 push-lg-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Редактировать профиль</a>
                    </li>
                </ul>
                <div class="tab-content p-b-3">
                    <div class="tab-pane active" id="profile">
                        <p>
                            <h2 class="m-y-2"><strong>{{ user.first_name }} {{ user.last_name }} (Логин: {{ user.username }})</strong></h2>
                        </p>
                        <p>
                            <h3 class="m-y-2"><strong>{{ user.email }}</strong></h3>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <h5><strong>Город проживания</strong></h5>
                                <p class="font-italic">
                                    {{ user.userprofile.city }}
                                </p>

                                <h5><strong>Филиал</strong></h5>
                                <p class="font-italic">
                                    {{ user.userprofile.filial }}
                                </p>
                                <h5><strong>Департамент/Служба/Отдел</strong></h5>
                                <p class="font-italic">
                                    {{ user.userprofile.department }}
                                </p>
                                <h5><strong>Должность</strong></h5>
                                <p class="font-italic">
                                    {{ user.userprofile.position }}
                                </p>
                            </div>
                            <div class="col-md-6">

                                <h6>Recent Tags</h6>
                                <a href="" class="tag tag-default tag-pill">html5</a>
                                <a href="" class="tag tag-default tag-pill">react</a>
                                <a href="" class="tag tag-default tag-pill">codeply</a>
                                <a href="" class="tag tag-default tag-pill">angularjs</a>
                                <a href="" class="tag tag-default tag-pill">css3</a>
                                <a href="" class="tag tag-default tag-pill">jquery</a>
                                <a href="" class="tag tag-default tag-pill">bootstrap</a>
                                <a href="" class="tag tag-default tag-pill">responsive-design</a>
                                <hr>
                                <p><span class="tag tag-primary"><div class="p-3 mb-2" style="font-size: 18px; text-align: center; background-color: #4169E1; color: white;">Тестов пройдено: {{ exams|length }}</div></span></p>
                                <p><span class="tag tag-success"><div class="p-3 mb-2" style="font-size: 18px; text-align: center; background-color: #3CB371; color: white;">Сдал: {{ success_exams|length }}</div></span></p>
                                <p><span class="tag tag-danger"><div class="p-3 mb-2" style="font-size: 18px; text-align: center; background-color:  #FF0000; color: white;">Провалил: {{ failed_exams|length }}</div></span></p>
                            </div>
                            <div class="col-md-12">
                                <hr>
                                <h2 class="m-t-2">Последние пройденные тесты</h2>
                                <p>
                                    <a href='/quiz/progress'>Подробнее</a>
                                </p>
                                <table>
                                    <thead>
                                        <tr class="table100-head">
                                            <th>Дата сдачи</th>
                                            <th>Тест</th>
                                            <th>Результат</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for exam in exams|slice:"::-1"|slice:":5" %}
                                        <tr>
                                            {% language 'ru' %}
                                            <td>{{ exam.end }}</td>
                                            {% endlanguage %}
                                            <td>{{ exam.quiz.title }}</td>
                                            {% if exam.get_percent_correct >= exam.quiz.pass_mark %}
                                            <td class="td-success">{% trans "Сдан" %}</td>
                                            {% else %}
                                            <td class="td-failure">{% trans "Провален" %}</td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <div class="tab-pane" id="edit">
                        <p></p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Имя</label>
                                <div class="col-lg-9">
                                    {{ user_form.first_name }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Фамилия</label>
                                <div class="col-lg-9">
                                    {{ user_form.last_name }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Email</label>
                                <div class="col-lg-9">
                                    {{ user_form.email }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Город</label>
                                <div class="col-lg-9">
                                    {{ profile_form.city }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Филиал</label>
                                <div class="col-lg-9">
                                    {{ profile_form.filial }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Служба/Отдел</label>
                                <div class="col-lg-9">
                                    {{ profile_form.department }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Должность</label>
                                <div class="col-lg-9">
                                    {{ profile_form.position }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Логин</label>
                                <div class="col-lg-9">
                                    {{ user_form.username }}
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-outline-secondary" value="Отменить">
                                    <input type="submit" class="btn btn-outline-primary" value="Сохранить">
                                    <a href="change_password" class="btn btn-dark">Изменить пароль</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 pull-lg-8 text-xs-center">
                <img src="{{ user.userprofile.avatar.url }}" class="rounded-circle" width=200 height="200" alt="avatar">
            </div>
        </div>
    </div>
    <hr>
    <script language="javascript">
        $('#id_department').change(function() {
            populatePosition(this)
        });
        positions = {{profile_form.positions | safe}};
        departments = {{profile_form.departments | safe}};
        console.log('departments');
        populateDepartment();
        $("#id_position").empty();
        $("#id_position").append('<option value="" disabled selected>Пусто</option>');

        function populateDepartment() {
            $('#id_department').empty();
            $("#id_department").append('<option value="" disabled selected>Пусто</option>');
            $.each(departments, function(v) {
                $('#id_department')
                    .append($("<option></option>")
                        .attr("value", departments[v])
                        .text(departments[v]));
            });
        }

        function populatePosition(event) {
            department = $("#id_department option:selected").text();
            $("#id_position").empty();
            $("#id_position").append('<option value="" disabled selected>Пусто</option>');
            for (let [b, bpositions] of Object.entries(positions)) {
                if (b == department) {
                    //alert(b);
                    for (position in bpositions) {
                        $('#id_position')
                            .append($("<option></option>")
                                .attr("value", bpositions[position])
                                .text(bpositions[position]));
                    }
                }
            }
        }
    </script>
{% endblock %}