{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% load quiz_tags %}

{% block title %} {{ quiz.title}} {% endblock %}
{% block description %} {% trans "Результаты теста:" %} {{ quiz.title }} {% endblock %}

{% block content %}

<div class="container">
    <div class="row m-y-2">
        <div class="col-lg-8 push-lg-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="" data-target="#profile" data-toggle="tab" class="nav-link active">Мой Профиль</a>
                </li>
                <li class="nav-item">
                    <a href="" data-target="#edit" data-toggle="tab" class="nav-link">Редактировать профиль</a>
                </li>
            </ul>
            <div class="tab-content p-b-3">
                <div class="tab-pane active" id="profile">
                    <p><h4 class="m-y-2">{{ user.first_name }} {{ user.last_name }}</h4></p>
                    <p><h5 class="m-y-2">Email: {{ user.email }} </h5></p>
                    <div class="row">
                        <div class="col-md-6">
                            <h6>Город проживания</h6>
                            <p class="font-italic">
                                {{ user.userprofile.city }}
                            </p>
                            <h6>Филиал</h6>
                            <p class="font-italic">
                                {{ user.userprofile.filial }}
                            </p>
                            <h6>Департамент/Служба/Отдел</h6>
                            <p class="font-italic">
                                {{ user.userprofile.department }}
                            </p>
                            <h6>Должность</h6>
                            <p class="font-italic">
                                {{ user.userprofile.position }}
                            </p>
                            <h6>Hobbies</h6>
                            <p>
                                Indie music, skiing and hiking. I love the great outdoors.
                            </p>
                        </div>
                        <div class="col-md-6">
                            
                            <h6>Recent Tags</h6>
                            <a href="" class="tag tag-default tag-pill">html5</a>
                            <a href="" class="tag tag-default tag-pill">react</a>
                            <a href="" class="tag tag-default tag-pill">codeply</a>
                            <a href="" class="tag tag-default tag-pill">angularjs</a>
                            <a href="" class="tag tag-default tag-pill">css3</a>
                            <a href="" class="tag tag-default tag-pill">jquery</a>
                            <a href="" class="tag tag-default tag-pill">bootstrap</a>
                            <a href="" class="tag tag-default tag-pill">responsive-design</a>
                            <hr>
                            <p><span class="tag tag-primary"><i class="fa fa-user"></i><div class="p-3 mb-2 bg-info text-white">Тестов пройдено: {{ exams|length }}</div></span></p>
                            <p><span class="tag tag-success"><i class="fa fa-cog"></i><div class="p-3 mb-2 bg-success text-white">Сдал: {{ success_exams|length }}</div></span></p>
                            <p><span class="tag tag-danger"><i class="fa fa-eye"></i><div class="p-3 mb-2 bg-danger text-white">Провалил: {{ failed_exams|length }}</div></span></p>
                        </div>
                        <div class="col-md-12">
                            <h4 class="m-t-2"><span class="fa fa-clock-o ion-clock pull-xs-right"></span>Последние пройденные тесты</h4>
                            <a href='/quiz/progress' class=''>Посмотреть детали</a>
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Дата сдачи</th>
                                        <th>Тест</th>
                                        <th>Результат</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for exam in exams|slice:":5" %} 
                                    <tr>
                                        <td>{{ exam.end }}</td>
                                        <td>{{ exam.quiz.title }}</td>
                                        {% if exam.get_percent_correct >= exam.quiz.pass_mark %}
			                                <td class="table-success">{% trans "Сдан" %}</td>
		                                {% else %}
			                                <td class="table-danger">{% trans "Провален" %}</td>
		                                {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--/row-->
                </div>
                <div class="tab-pane" id="edit">
                    <p><h4 class="m-y-2">Редактировать профиль</h4></p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Имя</label>
                            <div class="col-lg-9">
                                {{ user_form.first_name }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Фамилия</label>
                            <div class="col-lg-9">
                                {{ user_form.last_name }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Email</label>
                            <div class="col-lg-9">
                                {{ user_form.email }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Город</label>
                            <div class="col-lg-9">
                                {{ profile_form.city }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Филиал</label>
                            <div class="col-lg-9">
                                {{ profile_form.filial }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Служба/Отдел</label>
                            <div class="col-lg-9">
                                {{ profile_form.department }}
                            </div>  
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Должность</label>
                            <div class="col-lg-9">
                                {{ profile_form.position}}
                            </div>  
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label">Логин</label>
                            <div class="col-lg-9">
                                {{ user_form.username }}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-3 col-form-label form-control-label"></label>
                            <div class="col-lg-9">
                                <input type="reset" class="btn btn-outline-secondary" value="Отменить">
                                <input type="submit" class="btn btn-outline-primary" value="Сохранить">
                                <a href="change_password" class="btn btn-dark">Изменить пароль</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4 pull-lg-8 text-xs-center">
            <img src="{{ user.userprofile.avatar.url }}" class="rounded-circle" width=200 height="200" alt="avatar">         
            <h6 class="m-t-2">Загрузить другое фото</h6>
            <label class="custom-file">
                <input type="file" name='avatar' id="id_avatar" class="custom-file-input">
                <span class="custom-file-control">Выберите файл</span>
            </label>
        </div>
    </div>
</div>
<hr>
{% endblock %}