{% extends "base.html" %} 
{% load i18n %} 
{% load quiz_tags %} 
{% block title %} 
    {% trans "Страница прогресса" %} 
{% endblock %} 

{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<div style="padding: 3%">
    {% if cat_scores %}

    <h1>{% trans "Общие результаты тестов по категориям" %}</h1>
    <hr>
    <table id='cat_table_id'>
        <thead>
            <tr class="table100-head">
                <th>{% trans "Категория" %}</th>
                <th>{% trans "Правильные" %}</th>
                <th>{% trans "Неправильные" %}</th>
                <th>{% trans "В процентах (%)" %}</th>
                <th>{% trans "График" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for cat, value in cat_scores.items %}
            <tr>
                <td>{{ cat }}</td>
                <td>{{ value.0 }}</td>
                <td>{{ value.1 }}</td>
                <td>{{ value.2 }}</td>
                <td><a href="/quiz/graphs/{{ cat }}">График</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %} {% if exams %}

    <hr>

    <h1>{% trans "Результаты тестов" %}</h1>
    <p class="lead">
        {% trans "Ниже приведены результаты тестов, которые вы сдавали." %}
    </p>
    <hr>
    <table id='result_table_id'>
        <thead>
            <tr class="table100-head">
                <th>{% trans "Название теста" %}</th>
                <th>{% trans "Дата сдачи" %}</th>
                <th>{% trans "Баллы" %}</th>
                <th>{% trans "Максимальный балл" %}</th>
                <th>{% trans "В процентах (%)" %}</th>
                <th>{% trans "Результат" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for exam in exams %}
            <tr>
                <td>{{ exam.quiz.title }}</td>
                {% language 'ru' %}
                <td>{{ exam.end }}</td>
                {% endlanguage %}
                <td>{{ exam.current_score }}</td>
                <td>{{ exam.get_max_score }}</td>
                <td>{{ exam.get_percent_correct }}{% trans "%" %}</td>
                {% if exam.get_percent_correct >= exam.quiz.pass_mark %}
                <td class="td-success">{% trans "Сдал" %}</td>
                {% else %}
                <td class="td-failure">{% trans "Провалил" %}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script language="javascript">
        $(document).ready(function() {
            $('#result_table_id').DataTable();
        });
    </script>
    <script language="javascript">
        $(document).ready(function() {
            $('#cat_table_id').DataTable();
        });
    </script>
    {% endif %}
</div>
{% endblock %}