{% extends "base.html" %}
{% load i18n %}
{% load quiz_tags %}

{% block title %} 
    {% trans "Топ лузеров" %} 
{% endblock %}

{% block content %}

<!-- js highcharts graphs -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/pareto.js"></script>
<!-- js highcharts graphs -->

<div class="row text-center" id="heading">
    <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
        <h3>Топ неудачников</h3>
        <p>Здесь вы можете увидеть неудачников с наихудшими показателями сдал/провалил.
            Можно просмотреть профиль неудачника нажав на его имя под графиком.
        </p>
        <hr>
    </div>
</div>


<div id="container" style="padding-left: 17%">
    <script>
        $(function () {
            var chart = new Highcharts.chart('container', {
                chart: {
                    renderTo: 'container',
                    type: 'column',
                    width: 1000,
                    height: 700,
                    style: {
                        fontSize: '15px'
                    }
                },
                title: {
                    text: 'График',
                    style: {
                        color: 'black',
                        fontSize: '25px',
                        fontWeight: 'bold'
                    }
                },
                tooltip: {
                    shared: true
                },
                legend: {
                    itemStyle: {
                        fontWeight: 'bold',
                        fontSize: '15px'
                    }
                },
                xAxis: {
                    categories: [{% for k,v in form %} "<a href='/quiz/profile_get/{{ k.id }}'>{{ k.last_name }} {{ k.first_name }}</a>" {% if not forloop.last %}, {% endif %} {% endfor %}],
                    crosshair: true,
                    labels: {
                        style: {
                            color: 'black',
                            fontSize:'15px'
                        }
                    }
                },          
                yAxis: [{
                    title: {
                        text: 'Коэффициент'
                    },
                    labels: {
                        style: {
                            color: 'black',
                            fontSize:'15px'
                        }
                    },
                },],
                series: [{
                    name: 'Отрицательный коэффицент эффективности (по формуле Эдвина Вилсона)',
                    type: 'column',
                    color: 'red',
                    zIndex: 2,
                    data: [{% for k,v in form %} {{ v }} {% if not forloop.last %}, {% endif %} {% endfor %}]}],
            });
        });
    </script>
</div>
{% endblock %}