{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {{ quiz.title}} {% endblock %}
{% block description %} {% trans "Результаты теста:" %} {{ quiz.title }} {% endblock %}

{% block content %}
<!-- Price-Table -->
<hr>
<section id="price_table">
    <div class="container">
      <div class="row text-center" id="heading">
        <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
            <h3>Рэйтинги</h3>
                <p>Здесь вы можете просмотреть рейтинги по различным категориям</p>
                <hr class="full">
                <br/>
          </div>
      </div>	<!-- row -->
      <div class="row main_content">
        <ul class="price-table-chart">
                    <li>
                    <a href="rating_ten_lucky">
                        <strong>Топ везунчиков</strong>
                        <span class="price_table-description">1 Website</span> 
                        <span class="price_table-description">1 Year Updates</span> 
                        <span class="price_table-description">No Email Support</span>
                        <span class="price_table-description"><img class="card-img-top" src="/media/another_images/thumb-up.svg" alt="" style="width: 100px"></span>                       
                        <span class="price_table-button">Перейти</span>
                    </a>
                </li>
            
                <li>
                    <a href="rating_tests_list">
                        <strong>Топ по тестам</strong>
                        <span class="price_table-description">Unlimited Websites</span> 
                        <span class="price_table-description">1 Year Updates</span> 
                        <span class="price_table-description">1 Year Email Support</span>
                        <span class="price_table-description"><img class="card-img-top" src="/media/another_images/bookmark.svg" alt="" style="width: 100px"></span>
                        <span class="price_table-button">Перейти</span>
                    </a>
                </li>
            
                <li>
                    <a href="rating_ten_looser">
                        <strong>Топ неудачников</strong>
                        <span class="price_table-description">Unlimited Websites</span> 
                        <span class="price_table-description">Lifetime Updates</span> 
                        <span class="price_table-description">Lifetime Email Support</span>
                        <span class="price_table-description"><img class="card-img-top" src="/media/another_images/thumb-down.svg" alt="" style="width: 100px"></span>
                        <span class="price_table-button">Перейти</span>
                    </a>
                </li>
            </ul>
      </div>	<!-- row main_content -->
    </div>	<!-- container -->
  </section>	<!-- price_table -->

{% endblock %}