{% extends "base.html" %} 
{% load i18n %} 
{% load quiz_tags %} 

{% block title %} 
    {% trans "Рейтинг по тестам" %} 
{% endblock %} 

{% block content %}

<!-- css datatables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<!-- css datatables -->

<!-- js datatables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<!-- js datatables -->

<div style="padding: 3%">
    <div class="row text-center" id="heading">
         <div class="col-md-6 col-md-offset-3 wow animated zoomInDown" id="heading-text">
            <h3>Рейтинг по отдельным тестам</h3>
                <p>Здесь вы можете увидеть рейтинг пользователей с наилучшими показателями сдал/провалил
                        по каждому тесту в отдельности.
                </p>
                <hr>
        </div>
    </div> 
    {% if quiz_list %}
    <table id='quiz_table_id'>

        <thead>
            <tr class="table100-head">
                <th>{% trans "Тест" %}</th>
                <th>{% trans "Рейтинг" %}</th>
            </tr>
        </thead>

        <tbody>
            {% for quiz in quiz_list %}
            <tr>
                <td>{{ quiz }}</td>
                <td><a href='rating_tests_list/{{ quiz.id }}'>Рейтинг</a></td>
            </tr>
            {% endfor %}
        </tbody>
    
    </table>

    {% endif %}
    
</div>

<!-- js datatables -->
<script language="javascript">
    $(document).ready(function() {
        $('#quiz_table_id').DataTable();
    });
</script>
<!-- js datatables -->

{% endblock %}