{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {{ quiz.title}} {% endblock %}
{% block description %} {% trans "Результаты теста:" %} {{ quiz.title }} {% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Рейтинг топ 100</h1>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
          <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
        </header>
  
        <!-- Page Features -->
        <div class="row text-center">
  
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="/media/another_images/category.png" alt="">
              <div class="card-body" style="height: 210px">
                <h4 class="card-title">Топ 10 по категориям</h4>
                <p class="card-text">Рейтинг лучших 10 пользователей по каждой категории</p>
              </div>
              <div class="card-footer">
                <a href="rating_category_list" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="/media/another_images/quiz.png" alt="">
              <div class="card-body" style="height: 210px">
                <h4 class="card-title">Топ 10 по всем видам тестам</h4>
                <p class="card-text">Рейтинг лучших 10 пользователей по каждому тесту</p>
              </div>
              <div class="card-footer">
                <a href="rating_tests_list" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="/media/another_images/like.jpg" alt="">
              <div class="card-body" style="height: 210px">
                <h4 class="card-title">Топ 10 везунчиков</h4>
                <p class="card-text">Рейтинг лучших 10 пользователей по соотношению сдал/провалил</p>
              </div>
              <div class="card-footer">
                <a href="rating_ten_lucky" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
              <img class="card-img-top" src="/media/another_images/dislike.png" alt="">
              <div class="card-body" style="height: 210px">
                <h4 class="card-title">Топ 10 неудачников</h4>
                <p class="card-text">Рейтинг худших 10 пользователей по соотношению сдал/провалил</p>
              </div>
              <div class="card-footer">
                <a href="rating_ten_looser" class="btn btn-primary">Посмотреть</a>
              </div>
            </div>
          </div>
  
        </div>
        <!-- /.row -->
  
      </div>
      <!-- /.container -->

{% endblock %}